.headings {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 6%;
}

.benefits {
    padding: 75px 0;
    background-color: #010413;
}

.benefit-card {
    background: linear-gradient(325.75deg, #1C0A1D 7.03%, #141830 117%);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.benefit-card .img_div {
    padding: 17px 5px 0px 0px;
}

.benefit-card h5 {
    font-size: 18px;
    font-weight: 500;
}

.benefit-card p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}